@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="card" style="max-width: 500px;">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <p>Enter your email.</p>
        <form method="post" class="row g-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
            </div>
            <div class="col-12">
                <p class="fs-14">
                    Back to <a asp-page="./Login">Sign in</a>
                </p>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
