body {
  background: #eee;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.body-content {
  height: 100vh; }

.login-container,
.register-container {
  width: 350px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px; }
  .login-container h4,
  .register-container h4 {
    font-weight: 400; }

.btn-sign-in,
.btn-sign-up {
  width: 100%;
  background: #5d8a9e;
  color: white;
  font-weight: 500; }

.login-container .profile-avatar {
  width: 96px;
  height: 96px;
  display: block;
  border-radius: 50%;
  margin: 20px auto; }

.register-container {
  width: 450px; }
  .register-container .avatar-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%; }
    .register-container .avatar-icon:hover {
      cursor: pointer;
      border: 2px solid #5dca38; }
  .register-container input[type="radio"] {
    display: none; }
  .register-container input[type="radio"]:checked + img {
    border-radius: 50%;
    border: 2px solid #5dca38;
    padding: 1px; }

.left-sidebar {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  background: #157cce;
  color: white !important; }
  .left-sidebar .header {
    color: white;
    padding: 10px; }
    .left-sidebar .header h5 {
      font-size: 14px;
      font-weight: 500;
      color: white;
      margin: 0;
      text-transform: uppercase;
      display: block; }
    .left-sidebar .header a {
      font-size: 14px;
      color: white; }
  .left-sidebar #room-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white; }
    .left-sidebar #room-list li a {
      color: white;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      display: block;
      padding: 0 10px; }
      .left-sidebar #room-list li a.active {
        background: #8abde6; }
      .left-sidebar #room-list li a:hover {
        background: #8abde6; }
      .left-sidebar #room-list li a:before {
        content: "#"; }
  .left-sidebar .user {
    background: #1a6baa;
    margin-top: auto;
    padding: 10px;
    font-size: 14px; }
    .left-sidebar .user .user-avatar {
      margin-right: 5px;
      width: 32px;
      height: 32px;
      border: 2px solid white;
      padding: 1px;
      border-radius: 50%; }
    .left-sidebar .user .user-name {
      color: white;
      display: inline-block;
      max-width: 110px;
      white-space: nowrap;
      overflow: hidden !important;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 14px; }
    .left-sidebar .user .user-signout i {
      color: white; }

.app {
  border: 1px solid #ccc;
  border-radius: 2px; }

.main-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee; }
  .main-content .chat-header {
    padding: 0 10px;
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #eee; }
    .main-content .chat-header h5 {
      font-weight: 500;
      font-size: 18px;
      color: #555;
      margin: 0; }
      .main-content .chat-header h5:before {
        content: "#"; }
    .main-content .chat-header .btnDeleteRoom {
      background: none;
      border: none;
      color: #aaa; }
  .main-content .chat-body {
    flex-grow: 1;
    overflow-y: auto; }
    .main-content .chat-body .chat-message {
      margin: 10px;
      min-width: 200px; }
      .main-content .chat-body .chat-message .message-content {
        background: #f5f5f5;
        padding: 3px 8px;
        border: 1px solid #eee;
        border-radius: 2px;
        color: #777;
        min-width: 220px;
        max-width: 500px; }
        .main-content .chat-body .chat-message .message-content img {
          width: 100%;
          height: 100%; }
        .main-content .chat-body .chat-message .message-content span {
          color: #777; }
        .main-content .chat-body .chat-message .message-content .author {
          color: #1a6baa;
          font-size: 12px;
          font-weight: bold; }
        .main-content .chat-body .chat-message .message-content .content {
          display: block;
          padding: 2px 0; }
        .main-content .chat-body .chat-message .message-content .timestamp {
          font-size: 10px;
          color: #999;
          float: right;
          line-height: 21px; }
      .main-content .chat-body .chat-message .message-avatar {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
        border-radius: 21px; }
    .main-content .chat-body .ismine {
      flex-direction: row-reverse; }
      .main-content .chat-body .ismine .message-content {
        background: #8abde6; }
        .main-content .chat-body .ismine .message-content .author,
        .main-content .chat-body .ismine .message-content .timestamp,
        .main-content .chat-body .ismine .message-content .timestamp span,
        .main-content .chat-body .ismine .message-content .content {
          color: white; }
        .main-content .chat-body .ismine .message-content div {
          flex-direction: row-reverse; }
      .main-content .chat-body .ismine .message-avatar {
        margin-right: 0;
        margin-left: 10px; }
  .main-content .chat-input {
    border-top: 1px solid #eee;
    background: #f2f2f2;
    position: relative; }
    .main-content .chat-input input {
      width: 100%;
      height: 50px;
      border: none;
      padding: 0 10px;
      background: #f2f2f2; }
    .main-content .chat-input input[type="file"] {
      display: none; }
    .main-content .chat-input .actions {
      padding: 0 10px; }
      .main-content .chat-input .actions i {
        color: #aaa; }
      .main-content .chat-input .actions label {
        margin-bottom: 0; }
      .main-content .chat-input .actions #emojibtn {
        margin: 0 10px; }

.right-sidebar {
  flex-basis: 250px;
  display: flex;
  flex-direction: column; }
  .right-sidebar .header {
    padding: 0 10px;
    height: 50px;
    border-bottom: 1px solid #eee; }
    .right-sidebar .header h5 {
      font-weight: 400;
      font-size: 16px;
      color: #555;
      margin: 0;
      text-transform: uppercase;
      line-height: 50px; }
  .right-sidebar .chat-users {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto; }
    .right-sidebar .chat-users ul#user-list {
      overflow: hidden; }
    .right-sidebar .chat-users .user-inner {
      padding: 5px 2px;
      border-radius: 2px; }
      .right-sidebar .chat-users .user-inner:hover {
        background: #f2f2f2;
        cursor: pointer; }
      .right-sidebar .chat-users .user-inner .left-side {
        margin-right: 5px; }
        .right-sidebar .chat-users .user-inner .left-side .user-avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%; }
      .right-sidebar .chat-users .user-inner .right-side {
        font-size: 16px;
        width: 100%; }
        .right-sidebar .chat-users .user-inner .right-side small {
          font-size: 12px;
          line-height: 10px;
          color: #777; }
  .right-sidebar .search-user {
    border-top: 1px solid #eee; }
    .right-sidebar .search-user input {
      width: 100%;
      height: 50px;
      border: none;
      padding: 0 5px;
      background: #f2f2f2; }

.emoticon-container {
  width: 145px;
  background: white;
  height: 60px;
  border: 1px solid #ccc;
  position: absolute;
  right: 54px;
  bottom: 32px;
  padding: 5px 7px;
  line-height: 20px; }

.emoticon-container a {
  float: left;
  height: 24px;
  margin-left: 4px; }

.better-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #F5F5F5; }

.better-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

.better-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8abde6; }

.hidden {
  display: none; }
