.sidebar {
    display: flex;
    flex-direction: column;
    background: #157cce;
    color: white;

    a {
        color: white;
    }

    i {
        font-size: 14px;
        color: white;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 10px;

        h5 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
        }

        i {
            color: white;
            font-size: 14px;
        }
    }

    ul li a {
        display: block;
        padding: 2px 10px;
        font-size: 14px;
        text-decoration: none;

        &.active {
            background: #8abde6;
        }

        &:hover {
            background: #8abde6;
        }

        &:before {
            content: "#";
            margin-right: 2px;
        }
    }

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        padding: 10px;
        background: #1a6baa;
        margin-top: auto;

        div {
            display: flex;
            align-items: center;
            flex-grow: 1;

            .user-avatar {
                width: 32px;
                height: 32px;
                border: 2px solid white;
                padding: 1px;
                border-radius: 50%;
                margin-right: 5px;
            }

            a {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 120px;
            }
        }

        .btn-sign-out {
            background: none;
            border: none;
        }
    }
}
