@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <p>Please check your email to reset your password.</p>
        <p class="fs-14">
            Back to <a asp-page="./Login">Sign in</a>
        </p>
    </div>
</div>